/6-Colecciones/Inventario/nbproject/private/
/6-Colecciones/Inventario/build/
/6-Colecciones/Biblioteca/nbproject/private/
/8-Interfaces y Excepciones/Ecommerce/nbproject/private/
/8-Interfaces y Excepciones/Ecommerce/build/
